.services-section {
  padding: 6rem 8rem;
  background-color: white;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  flex-wrap: wrap;
  gap: 6rem;
  
}

.service__img {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 4 / 3; /* mantém proporção (sem distorcer) */
  object-fit: cover;   /* imagem preenche sem deformar */
  border-radius: 6px;
  transition: transform 0.4s ease;
  cursor: pointer;
  filter: drop-shadow(8px 8px 12px rgba(0, 0, 0, 0.2));
}

.service__img:hover {
  transform: scale(1.05);
}

.services-section__title {
  font-size: 3rem;
  font-family: var(--font-title);
  margin-bottom: 1rem;
}

.services-section__description {
  font-family: var(--font-primary);
  font-size: 1.6rem; /* Ajustado para ficar elegante */
  line-height: 1.6;
  margin-bottom: 3rem;
  color: #333;
}

.services-section__cta {
  text-align: center;
  margin-top: 3rem;
}

.services-section__button {
  position: relative;
  background: none;
  border: none;
  color: black;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-family: var(--font-primary);
  transition: color 0.3s ease;
}

.services-section__button:hover {
  color: var(--color-accent);
}

.services-section__button::before,
.services-section__button::after {
  content: '';
  position: absolute;
  border: 2px solid var(--color-accent);
}

.services-section__button::before {
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border-bottom: none;
  border-left: none;
}

.services-section__button::after {
  bottom: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-top: none;
  border-right: none;
}

.highlight {
  color: var(--color-accent);
}

/* Responsivo */
@media (max-width: 768px) {
  .services-section {
    padding: 6rem 2rem;
}
  .service {
    flex-direction: column;
    align-items: flex-start;
  }

  .service__images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .service__img {
    max-width: 85%;
    margin: auto;
  }

  .service__content {
    width: 100%;
  }

  .services-section__description{
    font-size: 1.6rem;
  }

  .services-section__button{
    font-size: 1.5rem;
  }
}
