
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

@font-face {
  font-family: 'The Seasons';
  src: url('../assets/fonts/Fontspring-DEMO-theseasons-reg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons';
  src: url('../assets/fonts/Fontspring-DEMO-theseasons-bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons';
  src: url('../assets/fonts/Fontspring-DEMO-theseasons-it.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons';
  src: url('../assets/fonts/Fontspring-DEMO-theseasons-lt.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons';
  src: url('../assets/fonts/Fontspring-DEMO-theseasons-ltit.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}


:root {
  --font-primary: 'Be Vietnam Pro', sans-serif;
  --font-title: 'The Seasons', serif;

  --color-bg: #ffffff;
  --color-text: #111111;
  --color-accent: #F67C0B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-title);
}
