.team-carousel {
  padding: 4rem 0;
  background: white;
}

.team-carousel__title {
  font-family: var(--font-title);
  font-size: 3rem;
  margin: auto; 
  text-align: center;
}

.team-carousel__subtitle{
    font-size: 1.9rem;
    font-family: var(--font-primary);
    font-weight: 300;
    margin: auto;
    text-align: center;
    margin-bottom: 4rem;
}

.team_underline {
  width: 130px;
  height: 2px;
  background-color: #F67C0B;
  border-radius: 2px;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
}

.team-carousel__container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-left: 0;
}

.team-carousel__container::-webkit-scrollbar {
  display: none;
}

.team-card {
  flex: 0 0 auto;
  width: 300px;
  height: 500px;
  padding-top: 0.9rem;
  position: relative;
}

.team-card__image {
  position: relative;
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.6s ease;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.2);
}

.team-card:hover .team-card__image {
  transform: scale(1.03);
}

/* Overlay aparece somente no hover */
.team-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(1.05);
  transition: opacity 0.4s ease, transform 0.4s ease;
  padding: 2rem;
  text-align: center;
}

.team-card:hover .team-card__overlay {
  opacity: 1;
  transform: scale(1);
}

.team-card__name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: var(--font-title);
}

.team-card__description {
  font-size: 1.2rem;
  font-family: var(--font-primary);
  max-width: 80%;
  line-height: 1.5;
}
