.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 2rem 5rem;
  background-color: transparent;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-primary);
}

.navbar__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo-img {
  height: 40px;
  object-fit: contain;
  display: block;
}

.navbar__list {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.navbar__link {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.navbar__link:hover {
  color: var(--color-accent);
}

.navbar__link--active {
  color: var(--color-accent);
}
