.trusted-partners {
  background: linear-gradient(to bottom, #ffffff 0%, #F5EFE5 100%);
  padding: 6rem 4rem;
}

.trusted-partners__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 4rem;
}

.trusted-partners__text {
  flex: 0 0 30%;
  max-width: 400px;
}

.trusted-partners__title {
  font-family: var(--font-title);
  font-size: 3.6rem;
  font-weight: 500;
}

.trusted-partners__underline {
  width: 100px;
  height: 3px;
  background-color: var(--color-accent);
  margin: 1rem 0 2.5rem 0;
  border-radius: 2px;
}

.trusted-partners__description {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
}

.trusted-partners__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 900px;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.trusted-partners__card {
  width: 160px;
  height: 120px;
  background: white;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.trusted-partners__logo {
  max-width: 80%;
  max-height: 70%;
  object-fit: contain;
}

/* RESPONSIVO */
@media (max-width: 1024px) {
  .trusted-partners__title{
    text-align: left;
  }
  
  .trusted-partners__container {
    flex-direction: column;
    align-items: center;
  }

  .trusted-partners__text {
    text-align: center;
    flex: 1 1 100%;
  }

  .trusted-partners__grid {
    justify-content: center;
  }
}


.trusted-partners__text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;

}