.footer {
  position: relative;
  width: 100%;

  overflow: hidden;
  margin-top: 80px;
}

.footer__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer__overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4rem 0 6rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__social {
  display: flex;
  gap: 1.5rem;
  margin-left: 50px;
}

.footer__social-icon {
  font-size: 2rem;
  color: black;
  transition: color 0.3s ease;
  margin-top: 35px;
}

.footer__social-icon:hover {
  color: var(--color-accent);
}

.footer__nav {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-top: 40px;
}

.footer__link {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: var(--color-accent);
}

.footer__contact-info {
  text-align: left;
  font-family: var(--font-primary);
  font-size: 1.1rem;
  line-height: 1.5;
  color: black;
}

.footer__contact-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.footer__contact-phone {
  margin-bottom: 0.5rem;
}

.footer__bottom {
  font-family: var(--font-primary);
  font-size: 1rem;
  color: white;
  position: absolute;
  bottom: 1rem;
  left: 4rem;
}

/* Responsividade */
@media (max-width: 1024px) {
  .footer__top {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
  }

  .footer__contact-info {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .footer__nav {
    gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer__contact-info {
    font-size: 0.8rem;
  }
}
