.blog-post {
  margin: 0 auto;
  font-family: var(--font-primary);
  color: #333;
}

.blog-post__hero {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.blog-post__content img {
  width: 700px;
  height: 200px;
  max-width: 100%;
  margin: 2rem auto;
  display: block;
}


.blog-post__hero::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.blog-post__title {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 0 1rem;
  z-index: 2;
  position: relative;
}

.blog-post__meta {
  text-align: center;
  margin: 2rem 0;
  font-size: 1rem;
  color: #777;
}

.blog-post__date {
  font-style: italic;
  text-align: center;
  margin: 1rem 0;
  color: #666;
}

.blog-post__container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.blog-post__content {
  line-height: 1.8;
}

/* Markdown styles */
.blog-post__p {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
  color: #333;
}

.blog-post__h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 2.5rem 0 1rem;
  color: #111;
  font-family:  'Helvetica';
}

.blog-post__h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 2rem 0 1rem;
  color: #222;
}

.blog-post__h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1.5rem 0 0.8rem;
  color: #444;
}

.blog-post__ul {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.blog-post__li {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

